::before
::after{
    box-sizing: border-box;
}


.card {
    background: rgb(235, 0, 0);
    color: white;
    border-radius: 5%;
    border: 5px solid black;
    font-family:'Courier New', Courier, monospace;
    margin: auto;
    padding: 20px;
    background-color: rgb(242, 38, 38);
}

.card h3{
    text-align: center;
    font-size: 40px;
}

.img{
    padding: 20px 50px;
}

.card2{
    box-sizing: border-box;
    background-color: blue;
    border-radius: 20%;
    border-style: solid;
    width: 400px;
    padding: 20px;
    margin: 20px;

}
.card2 h3{
    text-align: center;
    font-size: 40px;
    color: white;
}
img2{
    padding: 20px 50px;
}